fastapi==0.110.0
uvicorn==0.29.0
deepgram-sdk==3.2.0
aiohttp==3.9.3
python-multipart==0.0.9
pydub==0.25.1
yfinance==0.2.40
textblob==0.17.1
cachetools==5.3.3
langchain-core==0.2.34
tenacity==8.5.0
scikit-learn==1.5.1
numpy==1.26.4
google-generativeai==0.7.2
librosa==0.10.2
soundfile==0.12.1
python-dotenv==1.0.1
nltk==3.8.1
